$w3-theme-l5: #ebffff
$w3-theme-l4: #bcfffe 
$w3-theme-l3: #78fffd 
$w3-theme-l2: #35fffc 
$w3-theme-l1: #00f1ed 
$w3-theme: #00aba9 
$w3-theme-d1: #009c99 
$w3-theme-d2: #008b88 
$w3-theme-d3: #007977 
$w3-theme-d4: #006866 
$w3-theme-d5: #005755 

$dh-font-serif-lbasker: 'Libre Baskerville', serif;

$dh-font-cursive-lobster: 'Lobster', cursive;

$dh-font-sans-oxygen: 'Oxygen', sans-serif;

$dh-font-cursive-playball: 'Playball', cursive;

$dh-font-sans-poppins: 'Poppins', sans-serif;

$dh-font-mono-roboto-mono: 'Roboto Mono', monospace;

$dh-font-cursive-satisfy: 'Satisfy', cursive;

$dh-font-cursive-shadows-into-light: 'Shadows Into Light', cursive;